.wc-availability__inner {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.wc-availability--fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 15px;
  padding-right: 15px;

  @include mq ($from: 'tablet') {
    padding-left: 30px;
    padding-right: 30px;
  }

  background-color: govuk-colour('light-grey');

  .wc-availability__link {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.wc-availability__link {
  @extend %govuk-link;
  display: inline-block;
  @include govuk-font($size: 19);
  margin-right: 5px;

  &:visited:not(:hover):not(:focus) {
    color: govuk-colour('blue');
  }

  .govuk-visually-hidden, .wc-availability__unseen {
    pointer-events: none;
  }

  &:hover:not(:focus):not(:active) .wc-availability__unseen {
    background-color: govuk-colour('dark-blue');
  }
}

.wc-availability__unseen {
  display: inline-block;
  position: relative;
  border-radius: 10px;
  background-color: govuk-colour('black');
  color: govuk-colour('white');
  font-weight: bold;
  font-size: 14px;
  padding: 0 6px;
  margin-left: 5px;

  @include mq ($from: tablet) {
    top: -1px;
    padding-left: 7px;
    padding-right: 7px;
  }
}
