%wc-button {
    @extend %govuk-link;
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: govuk-colour('black');

    &:hover {
        color: govuk-colour('black');
    }

    &:visited:not(:hover):not(:focus) {
        color: govuk-colour('black');
    }

    &:active {
        color: govuk-colour('black');
    }

    &:focus {
        box-shadow: none;
        background-color: transparent;
        text-decoration: underline;
        color: govuk-colour('black');
    }

    &:focus-visible {
        background-color: $govuk-focus-colour;
        box-shadow: 0 -2px $govuk-focus-colour, 0 4px govuk-colour('black');
        text-decoration: none;
        color: govuk-colour('black');
    }
}