@keyframes blink {
  50% {
    fill: transparent
  }
}

.wc-status {
  display: flex;
  position: relative;
  padding: 15px;
  @include mq ($from: tablet) {
    padding: 10px;
  }

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 15px;
    right: 15px;
    height: 0;
    border-bottom: 1px solid $govuk-border-colour;
    @include mq ($from: tablet) {
      left: 10px;
      right: 10px;
    }
  }

  &__availability {
    font-size: 16px;
    margin-bottom: 0;
  }

  &__link{
    @extend %wc-link-button;
    margin-left: auto;

    &:link {
      color: govuk-colour('black');
    }
  }
}

.wc-body[tabindex="0"]:focus-visible {
  outline: 3px solid transparent;
  outline-offset: -2px;
  box-shadow:
    inset 0 0 0 2px $govuk-focus-colour,
    inset 0 0 0 4px govuk-colour('black'), 
    0 0 0 1px $govuk-focus-colour;
}

.wc-chat {
  @extend %govuk-body-s;
  line-height: 1.25;
  font-size: 14px;
  overflow: auto;
  list-style: none;
  padding: 0;

  &__message {
    margin: 5px 15px 0;
    @include mq ($from: tablet) {
      margin-left: 10px;
      margin-right: 10px;
    }

    &:first-child {
      padding-top: 15px;
    }

    &.inbound {
      text-align: right;
    }
  }

  &__from {
    line-height: 1.25;
    color: govuk-colour('dark-grey');
    margin-top: 2px;
    margin-bottom: 2px;
  }

  &__text {
    font-size: 16px;
    padding: 10px 12.5px;
    margin-bottom: 0;
    display: inline-block;
    border: 1px solid transparent;
    overflow-wrap: anywhere;

    @media (forced-colors: active) {
      border-color: currentColor;
    }

    &.inbound {
      color: govuk-colour('white');
      background-color: govuk-colour('blue');
      border-radius: 10px 0 10px 10px;
    }

    &.outbound {
      background-color: govuk-colour('light-grey');
      border-radius: 0 10px 10px;
    }

    svg {
      display: block;
      color: govuk-colour('dark-grey');
    }
    
    @media (forced-colors: active) {
      svg {
        color: currentColor;
      }
    }
    

    svg circle {
      animation: 1s blink infinite;
      fill: currentColor;

      &:nth-child(2) {
        animation-delay: 250ms
      }

      &:nth-child(3) {
        animation-delay: 500ms
      }
    }
  }
}

.wc-form {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  border-top: 1px solid govuk-colour('black');
  border-bottom: 1px solid govuk-colour('black');

  &__label {
    position: absolute;
    pointer-events: none;
    font-size: 16px;
    line-height: 20px;
    margin: 20px;
    @include mq ($from: tablet) {
      margin: 18px 18px 19px;
    }
    left: 0;
    bottom: 0;
    color: $govuk-secondary-text-colour;
    z-index: 3;
  }

  &__textarea {
    @extend %govuk-body-s;
    box-sizing: border-box;
    min-height: auto;
    font-size: 16px;
    line-height: 20px;
    max-height: 120px;
    flex: 1 1 auto;
    align-self: flex-end;
    margin: 20px;
    @include mq ($from: tablet) {
      margin: 18px 18px 19px;
    }
    padding: 0;
    border: 0;
    height: 20px;
    resize: none;
    overflow-x: hidden;
    overscroll-behavior: contain;

    &:focus {
      outline: none;
      box-shadow: none;
      z-index: 2;
    }
  }

  &__button {
    margin: 10px 15px 12px 0;
    @include mq ($from: tablet) {
      margin-right: 10px;
    }
    font-size: 16px;
    position: relative;
    flex: 0 0 auto;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: auto;
    cursor: pointer;
  }

  &.wc-focus-within::after {
    @include focus($glow: 5px, $strong: 2px, $background: 0, $inset: 0);
    left: 4px;
    right: 4px;
    top: 4px;
    bottom: 4px;
  }
}

.wc-body:focus-visible + .wc-footer .wc-form {
  border-top: 1px solid transparent;
}

.wc-footer {
  position: relative;
  flex: 0 0 0;

  &__settings {
    @include govuk-responsive-padding(2);

    display: flex;
    flex-direction: row;

    &-link {
      @extend %wc-link-button;

      &:first-child {
        margin-right: govuk-spacing(3);
      }

      &:link {
        color: govuk-colour('black');
      }
    }
  }

  &__input {
    @include govuk-responsive-padding(2);

    border-top: 1px solid govuk-colour('black');
  }
}
