@keyframes blink {
  50% {
    fill: transparent
  }
}

.wc-status {
  display: flex;
  border-bottom: 1px solid $govuk-border-colour;
  padding: govuk-spacing(2);

  &__availability {
    margin-bottom: 0;
  }

  &__link {
    margin-left: auto;
  }
}

.wc-chat {
  &__messages {
    overflow: scroll;
    list-style: none;
    padding: 0;
    margin: govuk-spacing(2) 0;
  }

  &__message {
    margin-bottom: govuk-spacing(1);

    &.inbound {
      text-align: right;
    }
  }

  &__from {
    color: govuk-colour('dark-grey');
    margin-bottom: 0;
  }

  &__text {
    padding: govuk-spacing(2);
    margin-bottom: 0;
    display: inline-block;

    &.inbound {
      color: govuk-colour('white');
      background-color: govuk-colour('blue');
      border-radius: 8px 0 8px 8px;
    }

    &.outbound {
      background-color: govuk-colour('light-grey');
      border-radius: 0 8px 8px;
    }

    svg {
      display: block;
      color: govuk-colour('dark-grey');
    }

    svg circle { 
      animation: 1s blink infinite;
      fill: currentcolor;
      
      &:nth-child(2) {
        animation-delay: 250ms
      }

      &:nth-child(3) {
        animation-delay: 500ms
      }
    }
  }
}
