.wc-panel {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: govuk-colour('white');
  border: 1px solid govuk-colour('black');
  z-index: 999;
  outline: none;

  @include mq ($from: 'tablet') {
    bottom: 0;
    right: 0;
    top: auto;
    left: auto;
    width: 400px;
    height: 540px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
}

.wc-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: govuk-colour('black');

  &__link {
    margin: 0 govuk-spacing(2);
  }

  &__title {
    padding: 0 0 0 govuk-spacing(2);
    color: govuk-colour('white');
    margin-bottom: 0;
  }

  &__close,
  &__hide {
    display: flex;
    justify-content: center;
    color: govuk-colour('white');
    background: none;
    border: 0;
    padding: govuk-spacing(2);
    margin: 0 0 0 auto;
    cursor: pointer;

    &:focus {
      @include govuk-focused-text;
    }
  }
}

.wc-body {
  @include govuk-responsive-padding(3);

  flex: 1;
  position: relative;
  overflow-y: auto;
  overscroll-behavior: contain;
}

.wc-footer {
  &__settings {
    @include govuk-responsive-padding(2);

    display: flex;
    flex-direction: row;
    border-top: 1px solid govuk-colour('black');

    &-link {
      &:first-child {
        margin-right: govuk-spacing(3);
      }
    }
  }

  &__input {
    @include govuk-responsive-padding(2);

    border-top: 1px solid govuk-colour('black');
  }
}

.wc-message {
  &__form {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  &__label {
    position: absolute;
    top: 9px;
    left: 5px;
    z-index: 3;
    margin-bottom: 0;
    color: govuk-colour('dark-grey');

    @include mq ($from: 'tablet') {
      top: 7px;
    }
  }

  &__textarea {
    position: relative;
    width: 100%;
    margin-bottom: 0;
    min-height: auto;
    max-height: 120px;
    resize: none;
    border: none;
    overflow-x: hidden;
    overscroll-behavior: contain;
    z-index: 4;
    background-color: transparent;
  }

  &__button {
    margin: auto 0 0  govuk-spacing(3);
    width: auto;
  }
}

.wc-back-link {
  margin: govuk-spacing(1) 0 govuk-spacing(6) 0;
}
