.wc-panel {
  display: flex;
  position: fixed;
  flex-wrap: nowrap;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  touch-action: pan-x pan-y;
  background-color: #ffffff;
  @include mq ($from: tablet) {
    top: auto;
    left: auto;
    width: 400px;
    height: 540px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  &:focus {
    outline: none;
  }

  &:focus.wc-focus-visible::after {
    @include focus($glow: 5px, $strong: 2px, $background: 0, $inset: 0);
    left: 4px;
    right: 4px;
    top: 4px;
    bottom: 4px;
  }

  &__inner {
    position: relative;
    flex: 0 0 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: transparent;
    border: 0;
    outline: 0;
    @include mq ($from: tablet) {
      border: 1px solid govuk-colour('black');
    }
    box-sizing: border-box;
  }
}

.wc-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: govuk-colour('black');
  border-bottom: 1px solid govuk-colour('black');
  padding: 3px;

  &__link {
    margin: 0 govuk-spacing(2);
  }

  &__title {
    @extend %govuk-heading-s;
    font-size: 19px;
    padding: 0 0 0 10px;
    @include mq ($from: tablet) {
      padding-left: 7px;
    }
    color: govuk-colour('white');
    margin-bottom: 0;
  }

  &__close,
  &__hide,
  &__back {
    display: flex;
    justify-content: center;
    color: govuk-colour('white');
    background: none;
    border: 0;
    padding: 7px;
    margin: 0 0 0 auto;
    cursor: pointer;

    &:focus {
      outline: 3px solid $govuk-focus-colour;
    }
  }

  &__back {
    margin: 0;
    display: flex;

    @include mq ($from: 'tablet') {
      display: none
    }
  }
}

.wc-body {
  font-size: 16px;
  flex: 1;
  position: relative;
  overflow-y: auto;
  overscroll-behavior: contain;
}

.wc-content {
  padding: 20px 15px;
}
